.card {
  background-color: white;
  padding: 10px;
  width: 90%;
  max-width: 540px;
  margin: 25px auto;
  border-radius: 20px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
}

body {
  font-family: 'Space Mono', monospace;
  text-align: center;
  padding: 20px;
  background-color: #EEEDEB;
}

h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: #00712D;
}

h1 {
  color: #6EACDA;
}

li {
  display: inline;
  margin-right: 15px;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #00712D;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s ease;
}

a:hover {
  background: linear-gradient(90deg, #00712D, #7DB9B6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

/* Media Queries */

/* Adjustments for desktops and larger tablets */
@media (max-width: 960px) {
  .card {
    padding: 15px;
    width: 95%;
  }

  #profile-pic {
    width: 180px;
    height: 180px;
  }

  a {
    font-size: 17px;
  }

  h1 {
    font-size: 26px;
  }

  h2, h3 {
    font-size: 22px;
  }
}

/* Adjustments for tablets and larger smartphones */
@media (max-width: 720px) {
  .card {
    padding: 15px;
    width: 95%;
  }

  #profile-pic {
    width: 150px;
    height: 150px;
  }

  a {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2, h3 {
    font-size: 20px;
  }
}

/* Adjustments for smaller smartphones */
@media (max-width: 540px) {
  .card {
    padding: 10px;
    margin: 15px auto;
  }

  #profile-pic {
    width: 120px;
    height: 120px;
  }

  body {
    padding: 10px;
  }

  a {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2, h3 {
    font-size: 18px;
  }
}

/* Adjustments for very small smartphones */
@media (max-width: 480px) {
  .card {
    padding: 10px;
    margin: 15px auto;
  }

  #profile-pic {
    width: 100px;
    height: 100px;
  }

  body {
    padding: 10px;
  }

  a {
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  h2, h3 {
    font-size: 16px;
  }
}
